<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="dark-theme">
        <h3 class="mb-0">Forum</h3>
      </div>
      <div class="dark-theme">
        <label for="sortBy">Sort By:</label>
        <select id="sortBy" [(ngModel)]="sortBy" (change)="sortArticles()">
          <option value="netScore">Most Net Score</option>
          <option value="commentCount">Most Comments</option>
        </select>
      </div>
      <div class="table-responsive dark-theme">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Net Score</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let article of articles">
            <td>{{ article.title }}</td>
            <td>{{ article.body }}</td>
            <td>{{ article.netScore }}</td>
            <td>{{ article.commentCount }}</td> <!-- Display the comment count here -->
            <td>
    <span class="badge badge-dot mr-4">
      <i class="bg-warning"></i> Pending
    </span>
            </td>
            <td class="text-right">
              <a routerLink="/article-detail/{{ article.idPublication }}">Show More</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
