<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="editor-page">
        <div class="container page">
          <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
              <form [formGroup]="publicationForm" (ngSubmit)="submitForm()">
                <fieldset class="form-group">
                  <input class="form-control form-control-lg" formControlName="title" required placeholder="Article Title">
                  <div *ngIf="title.invalid && (title.dirty || title.touched)">
                    <div *ngIf="title.errors.required">Title is required</div>
                    <div *ngIf="title.errors.minlength">Title must have at least 3 characters</div>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <input class="form-control" formControlName="description" placeholder="What's this article about?">
                  <div *ngIf="description.invalid && (description.dirty || description.touched)">
                    <div *ngIf="description.errors.required">Description is required</div>
                    <div *ngIf="description.errors.minlength">Description must have at least 10 characters</div>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <textarea class="form-control" rows="8" formControlName="body" placeholder="Write your article (in markdown)"></textarea>
                  <div *ngIf="body.invalid && (body.dirty || body.touched)">
                    <div *ngIf="body.errors.required">Body is required</div>
                    <div *ngIf="body.errors.minlength">Body must have at least 50 characters</div>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <input class="form-control" formControlName="tags" placeholder="Enter tags">
                  <!-- No validation message for tags -->
                </fieldset>
                <button class="btn btn-lg pull-xs-right btn-primary" type="submit" [disabled]="publicationForm.invalid">
                  Publish Article
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
