
.container.content-left {
  justify-content: flex-start; /* Align content to the left */
}

.article-card {
  margin-bottom: 20px; /* Add margin at the bottom of the article card */
}

.add-comment-form {
  margin-bottom: 20px; /* Add margin at the bottom of the add comment form */
}

.comments-table {
  margin-top: 20px; /* Add margin at the top of the comments table */
}
/* Style for the comments section */
.comments-section {
  margin-top: 20px;
}

/* Style for individual comment cards */
.comment-card {
  margin-bottom: 20px;
}

/* Style for author information */
.author-info {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for comment content */
.comment-content {
  margin-bottom: 10px;
}
.vote {
  display: inline-block;
  cursor: pointer;
  color: #687074;

  svg {
    fill: currentColor;
  }

  &.on {
    color: #f48024;

    svg {
      fill: #f48024;
    }
  }
}
